@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: 'Geist', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
  }

  body {
    font-family: var(--font-geist-sans);
  }

  code,
  pre {
    font-family: var(--font-geist-mono);
  }
}
